<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Welcome to JavaOne 2013</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    <p:graphicImage library="images" name="netbeans_javaone_2013_icon125.jpg" style="float:left;" width="125" height="125" alt="JavaOne 2013 NetBeans Day" /><h1>Welcome to JavaOne 2013 San Francisco, CA USA</h1>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    &copy; John Yeary and NetBeans Dream Team
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                    <p:menu>
                        <p:submenu label="Resources">
                            <p:menuitem value="Demo" url="http://www.primefaces.org/showcase-labs/ui/home.jsf" />
                            <p:menuitem value="Documentation" url="http://www.primefaces.org/documentation.html" />
                            <p:menuitem value="Forum" url="http://forum.primefaces.org/" />
                            <p:menuitem value="Themes" url="http://www.primefaces.org/themes.html" />

                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <p:dataTable value="#{customerFacade.customers}" var="customer">
                        <p:column headerText="Name">
                            <h:outputText value="#{customer.name}"/>
                        </p:column>
                         <p:column headerText="City">
                             <h:outputText value="#{customer.city}"/>
                        </p:column>
                         <p:column headerText="Credit Limit">
                             <h:outputText value="#{customer.creditLimit}"/>
                        </p:column>
                         <p:column headerText="Phone">
                             <h:outputText value="#{customer.phone}"/>
                        </p:column>
                         <p:column headerText="Discount Code">
                             <h:outputText value="#{customer.discountCode.discountCode}"/>
                        </p:column>
                    </p:dataTable>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

